body {
	font-family: sans-serif;
}
td, th {
	border: 1px dotted black;
	padding: 2px 10px;
}
table {
	border-collapse: collapse;
}
.align_right {
	text-align: right;
}
.red {
	color: red;
	font-weight: bold;
}
.green {
	color : green;
	font-weight: bold;
}
.align_center{
	text-align: center;
}
#div_chiffre_affaire{
	overflow: auto;
}
a {
	margin: 0 2px;
	font-size: 0.9em;
	border: 1px solid #9B9B9B;
	border-radius: 2px;
	text-decoration: none;
	padding: 2px 5px;
	color: black;
	background-image: linear-gradient(to top, #dedede, #f6f6f6);
	font-family: 'Arial';
	font-size: 13.3333px;
	cursor: default;
}
a:hover{
	border: 1px solid #6E6E6E;
}
form{
	margin: 0;
}